<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OsuDiffCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
	</System.Windows.Forms.ApplicationConfigurationSection>
 <userSettings>
  <OsuDiffCalc.Properties.Settings>
   <setting name="UpdateIntervalNormalMs" serializeAs="String">
    <value>400</value>
   </setting>
   <setting name="UpdateIntervalMinimizedMs" serializeAs="String">
    <value>600</value>
   </setting>
   <setting name="FamiliarStarTargetMinimum" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="FamiliarStarTargetMaximum" serializeAs="String">
    <value>7.5</value>
   </setting>
   <setting name="ShowFamiliarStarRating" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableXmlCache" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AlwaysOnTop" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableAutoBeatmapAnalyzer" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SeriesChartType" serializeAs="String">
    <value>StackedColumn</value>
   </setting>
   <setting name="UpdateIntervalOsuNotFoundMs" serializeAs="String">
    <value>3000</value>
   </setting>
  </OsuDiffCalc.Properties.Settings>
 </userSettings>
</configuration>
