<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <TargetFramework>net6.0-windows</TargetFramework>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
		
    <PublishDir>bin\publish\net6.0-selfcontained\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>

    <PublishReadyToRun>false</PublishReadyToRun>
		
		<!-- See https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file/overview?tabs=cli -->
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
		<EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
		
		<!-- See https://github.com/dotnet/sdk/issues/13731 -->
		<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
		
		<PublishTrimmed>true</PublishTrimmed>
		<IsTrimmable>true</IsTrimmable>
		<TrimMode>link</TrimMode>

		<!--
		example trim results for publish in net 6.0. (works)/(broken) refers to whether or not app still worked
		
		r2r certainly improves app startup, repeatably reduces first parse from 150ms -> 25ms
		
		using EnableCompressionInSingleFile=false
		 74 MB (works**) self-contained + TrimMode=link + Ready2Run (r2r also dramatically increases build time)
		 92 MB (works)   self-contained + TrimMode=copyused + Ready2Run (r2r also dramatically increases build time)
		 51 MB (works**) self-contained + TrimMode=link
		 64 MB (works)   self-contained + TrimMode=copyused   
		149 MB (works)   self-contained + no trimming
		  3 MB (works)   not self-contained + no trimming
		
		using EnableCompressionInSingleFile=true
		 35 MB (works**) self-contained + TrimMode=link + Ready2Run (r2r also dramatically increases build time)
		 43 MB (works)   self-contained + TrimMode=copyused + Ready2Run (r2r also dramatically increases build time)
		 24 MB (works**) self-contained + TrimMode=link
		 30 MB (works)   self-contained + TrimMode=copyused
		 68 MB (works)   self-contained + no trimminng
		  3 MB (works)   not self-contained + no trimming
		
		**TrimMode=link broke WinForms until I added TrimmerRootAssembly tags to .csproj to omit them)
		-->
  </PropertyGroup>
</Project>