<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <TargetFramework>net7.0-windows</TargetFramework>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
		
    <PublishDir>bin\publish\net7.0-aot\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>

    <PublishReadyToRun>false</PublishReadyToRun>
		<!-- need to set this in the project file as well -->
    <PublishAot>true</PublishAot>
		
		<!-- See https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file/overview?tabs=cli -->
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile> <!-- currently cannot spec both Aot + SingleFile: https://github.com/dotnet/runtime/commit/8e60555826845c36f8c97a45c72cc65611d6f0ad -->
		<EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
		
		<!-- See https://github.com/dotnet/sdk/issues/13731 -->
		<IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
		
		<PublishTrimmed>true</PublishTrimmed>
		<IsTrimmable>true</IsTrimmable>
		<TrimMode>link</TrimMode>
  </PropertyGroup>
</Project>